/* Page styles */

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  line-height: 1.5em;
}

h2, h3 {
  font-weight: 800;
  font-size: 3em;
}

#title {
  background-color: #ff4c68;
}

.content-body-container {
  margin: 0;
  padding: 10em 2em;
  text-align: center;
}

.dark-background {
  color: #ffffff;
}

@media (min-width: 1360px) {
  .content-body-container {
    padding: 15em;
  }
}

@media (min-width: 992px) {
  .content-body-container {
    padding: 12em 6em;
  }
}

/* Navigation Bar */

#local-navbar {
  font-size: 1.2em;
  font-weight: 300;
}

.navbar {
  padding: 0%;
  margin-bottom: 4rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.8em;
  font-weight: 500;
  letter-spacing: -0.03em;
}

.nav-item {
  padding: 0% 1.2em;
  text-align: center;
  letter-spacing: -0.02em;
}

/* Header */

.header-large {
  padding: 3% 15% 0;
}

.heading-row {
  padding-bottom: 4em;
}

.download-button {
  margin: 1.5em 1em 0 0;
}

.heading-large {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}

.phone-image {
  width: 54%;
  min-width: 248px;
  position: relative;
  left: 20%;
}

@media (min-width: 1364px) {
  .heading-row {
    padding-bottom: 6em;
    height: 34em;
    overflow: hidden;
  }

  .phone-image {
    transform: rotate(25deg) translate(0, 7em);
  }
}

@media (max-width: 992px) {
  .heading-row {
    text-align: center;
    height: auto;
  }

  .phone-image {
    position: static;
  }
}

/* Features */

.feature-icon {
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-heading {
  font-size: 1.5em;
}

.feature-description {
  width: 15em;
  color: #8f8f8f;
}

/* Testimonials */

.testimonials-container {
  background-color: #ef8172;
  padding: 7.5em 20em;
}

.testimonials-carousel-indicator {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}

.testimonial {
  padding-bottom: 2em;
}

.testimonial-text {
  line-height: 1.5;
}

.testimonial-image {
  width: 5.5rem;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

.press-container {
  background-color: #ef8172;
  padding: 1em 15em 15em;
}

.press-logo-image {
  width: 23.5%;
  padding: 0 2em;
}

/* Pricing */

.pricing-container {
  padding: 10em;
  text-align: center;
}

.pricing-header {
  font-weight: 900;
}

.pricing-card-heading {
  font-size: 2em;
  font-weight: 800;
}

.pricing-subtitle {
  font-size: 1.1em;
  color: #8f8f8f;
}

.pricing-card-price {
  font-size: 1.7em;
  font-weight: 700;
}

/* Call to Action */

.cta-container {
  background-color: #ff4c68;
  padding-left: 20em;
  padding-right: 20em;
}

.cta-header {
  font-weight: 900;
  font-size: 3em;
  line-height: 1.5;
}

/* Footer */

.footer-container {
  margin: 0;
  padding: 3em;
  text-align: center;
}

.social-links-container {
  width: 15%;
}

.copyright-notice {
  color: #8f8f8f;
}